
__pycache__/processes.cpython-312.pyc
__pycache__/exportable.cpython-312.pyc
__pycache__/GUImaker.cpython-312.pyc
__pycache__/importable.cpython-312.pyc
.ipynb_checkpoints/main-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/requirements-checkpoint.txt
.pydevproject
ReportTemplates/.project
